
{% extends "base.html" %}

{% block title %} Mi Superlibro {% endblock %}
{% block content %}


    <h1>Indice del catalogo</h1>
    <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
    <input name="q" class="form-control mr-sm-2" type="text" 
        placeholder="Search" aria-label="Search">
</form>
    {% if noencotrado %}
        <h3 class="error">Mensaje no encontrado</h3>
    {% endif %}
    <h2 class="mt-4">Ultimos Libros</h2>
    <hr>
    
    <ul>
        {% for libro in libros %}
           <li> {{libro.title}} 
                {%if libro.author%}
                ({{libro.author.last_name}})</li>
            {% endif %}
        {% endfor %}

{% endblock %}
    </ul>